include ../layout

block content
    .container.border-bottom.pb-5.pt-3
        .row.px-2.mt-3
            div.col-6
                console.log(group)
                - let coverPhoto = '/images/uploads/groups/'+ group.coverPhoto;
                img(src=coverPhoto, style='border-radius: 10px;width:100%;')
            div.col-6
                h2  #{group.name}
                p #{group.description}
                p
                    i.fas.fa-user.fa-md
                    | Organized by #{group.owner}
                p
                    i.fas.fa-phone.fa-md
                    | Contact #{group.adminPhoneNo}

    .container.pt-5
        .row
            div.col-6
                h3 What we are about
                p #{group.description}
            div.col-6
                h3 Members
                ul.list-group
                    each contact in contacts
                        li.list-group-item #{contact.name}

    .container.pt-5.mb-5
        .row
            div.col-8
                h3 Events
