include ../layout

include group

block content
    .container.border-top
        each group in groups
            - let coverPhoto = '/images/uploads/groups/'+ group.coverPhoto;
            div.media.border-bottom.my-2.p-2
                img.mr-3(src=coverPhoto, alt='#{group.description}', style='width:64px;height:64px;')
                div.media-body
                    h4.mt-0
                        a(href='/groups/'+ group._id) #{group.name}
                    p #{group.description}
                    p
                        span.text-dark Admin #{group.owner}

